on post-fs-data
    mount ext4 loop@/data/xposed.img /xposed ro noatime
    exec /sbin/mount_xposed.sh
    exec u:r:init:s0 root root -- /sbin/mount_xposed.sh

service xposed_cache /sbin/mount_xposed.sh --cache
    class late_start
    user root
    seclabel u:r:init:s0
    oneshot
